{% extends "base.html" %}
{% block content %}

<div class="form-box">

    <h2>Reset Password</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{category}}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">

        <input type="text" name="username" placeholder="Enter Username" required>

        <input type="password" name="new_password" placeholder="Enter New Password" required>

        <button class="btn">Update Password</button>

    </form>

</div>

{% endblock %}