{% extends "base.html" %}
{% block content %}

<h2 class="text-center mb-4">All Users</h2>

<table class="table table-dark text-center">
<tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Action</th>
</tr>

{% for u in users %}
<tr>
    <td>{{ u.id }}</td>
    <td>{{ u.username }}</td>
    <td>{{ u.role }}</td>
    <td>
        <a href="/delete_user/{{ u.id }}"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Delete this user?')">
           Delete
        </a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}