{% extends "base.html" %}
{% block content %}

<div class="container py-5">

    <h2 class="text-center fw-bold text-white mb-5">Nurse Dashboard</h2>

    <div class="row justify-content-center">

        <div class="col-md-4">
            <div class="card dashboard-card text-center p-4">
                <div class="icon">📋</div>
                <h5>View Patient Bookings</h5>

                <a href="/view_all_bookings" class="btn btn-info mt-3">
                    View
                </a>
            </div>
        </div>

    </div>

</div>

{% endblock %}