{% extends "base.html" %}
{% block content %}

<div class="container py-5 text-white">

    <h2 class="text-center fw-bold mb-5">
        🧑‍⚕️ Nurse Availability
    </h2>

    <div class="card shadow-lg p-4 bg-dark">

        <table class="table table-dark table-bordered text-center align-middle">

            <thead>
                <tr>
                    <th>Nurse Name</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                {% if nurses %}
                    {% for nurse in nurses %}
                    <tr>
                        <td>{{ nurse.username }}</td>

                        <td>
                            <span class="badge bg-success px-3 py-2">
                                Available
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-warning">
                            No nurses registered yet
                        </td>
                    </tr>
                {% endif %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}