{% extends "base.html" %}
{% block content %}

<h2 class="text-center mb-4">My Bookings</h2>

<table class="table table-dark table-hover text-center align-middle">

<tr>
  <th>Patient</th>
  <th>Service</th>
  <th>Action</th>
</tr>

{% for b in bookings %}
<tr>

  <td>{{ b.patient_name }}</td>
  <td>{{ b.service }}</td>

  <td>
      <a href="/delete_booking/{{ b.id }}"
         class="btn btn-danger btn-sm"
         onclick="return confirm('Are you sure you want to delete this booking?')">
         Delete
      </a>
  </td>

</tr>
{% endfor %}

</table>

{% endblock %}